{:paths ["clojure/src" "rust/target" "examples/assets" "java/lib"]
 :aliases {:flow-storm
           {:classpath-overrides {org.clojure/clojure nil}
            :extra-deps {com.github.flow-storm/clojure {:mvn/version "RELEASE"}
                         com.github.flow-storm/flow-storm-dbg {:mvn/version "RELEASE"}}
            :jvm-opts ["-Dclojure.storm.instrumentEnable=true"
                       "-Dclojure.storm.instrumentOnlyPrefixes=YOUR_INSTRUMENTATION_STRING"
                       "--enable-native-access=ALL-UNNAMED"]}
           :dev
           {:extra-deps {net.java.dev.jna/jna {:mvn/version "5.12.1"}
                         com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.4"}}
            :jvm-opts ["-XX:+UnlockDiagnosticVMOptions"
                       "-XX:+DebugNonSafepoints"
                       "--enable-native-access=ALL-UNNAMED"
                       "-Djextract.trace.downcalls=true"]}
           :run
           {:jvm-opts ["--enable-native-access=ALL-UNNAMED"
                       "-XstartOnFirstThread"
                     ;;   "-Dclojure.server.repl={:port 5555 :accept clojure.core.server/repl}"
                       "-XX:+UnlockDiagnosticVMOptions"
                       "-XX:+DebugNonSafepoints"]
            :main-opts ["-m" "hello-world"]}}
 :deps {myJar/myJar {:local/root "java/myJar.jar"}
        org.suskalo/coffi {:mvn/version "1.0.486"}
        nrepl/nrepl {:mvn/version "1.3.0"}
        com.apple/AppleJavaExtensions {:mvn/version "1.4"}}}
