{:paths ["src" "resources"]
 :aliases {:dev
           {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]}
           :run
           {:jvm-opts ["--enable-native-access=ALL-UNNAMED"
                       "-XstartOnFirstThread"
                       "-XX:+UnlockDiagnosticVMOptions"
                       "-XX:+DebugNonSafepoints"]
            :main-opts ["-m" "hello-world"]}}
 :deps {org.suskalo/coffi {:mvn/version "1.0.486"}
        nrepl/nrepl {:mvn/version "1.3.0"}
        com.apple/AppleJavaExtensions {:mvn/version "1.4"}}}
